<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = 10
  if section.settings.collection != blank
    assign collection = section.settings.collection
  endif
-%}

<div class="section-{{ section.id }}-padding bg-white">
  <div class="container mx-auto px-4">
    {%- if section.settings.title != blank -%}
      <div class="mb-8 text-center md:text-left md:justify-between md:items-center md:flex">
        <h2 class="font-black text-[40px] leading-[120%] text-gray-900">
          {{ section.settings.title }}
        </h2>
        <a href="{{collection.url}}" class="flex gap-2 items-center font-poppins font-semibold text-[14px] leading-[140%] tracking-[0.03em] text-center">Shop All {{collection.title}} {% render 'icon-arrow'%} </a>
      </div>
    {%- endif -%}

    {%- if collection != blank and collection.products.size > 0 -%}
      <div class="swiper test-swiper-{{ section.id }} relative">
        <div class="swiper-wrapper">
          {%- for product in collection.products limit: products_to_display -%}
            <div class="swiper-slide">
                {% render 'test-card-product', product: product %}
            </div>
          {%- endfor -%}
        </div>
        
        <!-- Pagination -->
        <div class="swiper-pagination test-swiper-pagination-{{ section.id }} !relative !mt-16"></div>
      </div>
    {%- else -%}
      <div class="text-center py-12">
        <p class="text-gray-600">No products found in this collection.</p>
      </div>
    {%- endif -%}
  </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Swiper('.test-swiper-{{ section.id }}', {
      slidesPerView: 1,
      spaceBetween: 16,
      loop: true,
      arrows: false,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.test-swiper-pagination-{{ section.id }}',
        type: "progressbar",
      },
      navigation: {
        nextEl: '.test-swiper-button-next-{{ section.id }}',
        prevEl: '.test-swiper-button-prev-{{ section.id }}',
      },
      breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 16,
        },
        768: {
          slidesPerView: 3.6,
          spaceBetween: 16,
        },
        1024: {
          slidesPerView: 4.6,
          spaceBetween: 16,
        },
      },
    });
  });
</script>

<style>
  .test-swiper-{{ section.id }} .swiper-pagination-progressbar {
    background: #DDD6D7;
    border-radius: 2px;
    height: 4px;
  }
  
  .test-swiper-{{ section.id }} .swiper-pagination-progressbar-fill {
    background: #231F20;
    border-radius: 2px;
  }
</style>

{% schema %}
{
  "name": "t:sections.test.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.test.settings.title.label",
      "default": "t:sections.test.settings.title.default"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.test.settings.collection.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.test.presets.name"
    }
  ]
}
{% endschema %}
